@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root
{
    --main-color:#f3c2c6;
    --color-dark:#778899;
    --body:#f1dbee;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
    
}